body{
    background-color:#000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 90%, rgba(85,85,85,1) 100%);

}

/* HEADINGS */

.header--main{
    font-weight: normal;
    font-size: 50px;
    color: #FFF;
}

.header--secondary{
    color: #FFF;
    font-weight: 300;
    font-size: 42px;
}

.header--subheader{
    color: grey;
    font-size: 21px;
}

/* LINKS */

.link--cta{
    font-size:16px;
    color:aquamarine;
}

.link--cta:hover{
    transition: color 2s linear 0s;
    color:yellow;
}

/* FOOTER */

.footer--copyright{
    text-align:right;
    color: grey;
    font-size: 21px;
}